<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budgify</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/css/style.css"> 
</head>

<body>
      <h1>        
        <a>BUDGIFY</a>
      </h1>
      <h2 class="slogan">
        Your Personal Finance Application <span role="img" aria-label="money">💰</span>
      </h2>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">Profile</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <!-- login & signup buttons -->
        <div class="container">
          <div class="card">
            <button class="loginButton">
              <a class="login" href="/login">Login</a> </button>
          </div>
        </div>
        <div class="container">
          <div class="card">
            <button class="loginButton">
              <a class="login" href="/signup">Sign Up</a> </button>
          </div>
          {{/if}}
      </nav>
    </header>

    <main>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>