<div class="loginContainer-wrapper">
  <div class="loginContainer">
<div class="row">
  <div class="col-md-6">
    <h2 class="defaultText">Login</h2>
{{!-- Log in form for the user and submit button --}}
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="center" class="form-group">
        <button class="btn btn-outline-success" type="submit">Login</button>
      </div>
    </form>
  </div>
  </div>
  </div>

  <div class="loginContainer-wrapper">
  <div class="loginContainer">
  <div class="col-md-6">
    <h2 class="defaultText">Signup</h2>
{{!-- Form for the user to sign up and sign up button --}}
    <form class="form signup-form">
      <div class="form-group">
        <label for="firstName-signup">First Name:</label>
        <input class="form-input" type="text" id="firstName-signup" />
      </div>
      <div class="form-group">
        <label for="lastName-signup">Last Name:</label>
        <input class="form-input" type="text" id="lastName-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="center" class="form-group">
        <button class="btn btn-outline-success" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>
</div>
</div>

<script src="./js/login.js"></script>