<!-- Login Section -->
<section>
    <h2 class="defaultText">Login</h2> <!-- Title for login section -->
</section>

<section class="login-section">
    <form class="form login-form">
        <div class="form-group">
            <label for="email-login">Email:</label> <!-- Label for email input field -->
            <input class="form-input" type="text" id="email-login" /> <!-- Input for entering email -->
        </div>
        <div class="form-group">
            <label for="password-login">Password:</label> <!-- Label for password input field -->
            <input class="form-input" type="password" id="password-login" /> <!-- Input for entering password -->
        </div>
        <section class="comments-section">
            <!-- Empty section (comments-section) -->
        </section>
        <button type="button" class="btn btn-outline-light">Login</button> <!-- Login button -->
    </form>
</section>

<!-- Sign Up Section -->
<section>
    <h2 class="defaultText">Sign Up</h2> <!-- Title for sign up section -->
</section>

<section class="login-section">
    <form class="form signup-form">
        <div class="form-group">
            <label for="name-signup">Name:</label> <!-- Label for name input field -->
            <input class="form-input" type="text" id="name-signup" /> <!-- Input for entering name -->
        </div>
        <div class="form-group">
            <label for="email-signup">Email:</label> <!-- Label for email input field -->
            <input class="form-input" type="text" id="email-signup" /> <!-- Input for entering email -->
        </div>
        <div class="form-group">
            <label for="password-signup">Password:</label> <!-- Label for password input field -->
            <input class="form-input" type="password" id="password-signup" /> <!-- Input for entering password -->
        </div>
    </form>
</section>
<section>
    <button type="button" class="btn btn-outline-light">Sign Up</button> <!-- Sign Up button -->
</section>
</form>
</div>
</div>
</section>

<script src="./js/login.js"></script> <!-- Script for login functionality -->
